@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-[#111827] text-white/90 antialiased;
}

/* Section layout */
.section {
  @apply max-w-6xl mx-auto px-6 py-2;
}

/* Headings */
.heading {
  @apply text-slate-100 text-2xl font-semibold mb-8;
}
